* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  color: #ddd;
  font-family: "Montserrat", "Outfit", sans-serif;
}

.conteudo {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}