{% extends "modelo.html" %} {% block conteudo %} <link rel="stylesheet" href="{{
url_for("static", filename="gemini/geminiStyles.css") }}" />

<title>PythonSOS | Gemini</title>

<h1><img src="../static/images/google-gemini-icon.png" />Gemini AI</h1>
<div class="chat">
  <div class="messages-area" id="messages-area">
    <div class="message ai-message">
      <p>
        Hello! I'm a Python programming assistant, here to help you learn and
        solve problems. I can explain concepts, provide code examples, and help
        you resolve doubts. My goal is to make your Python learning easier and
        more efficient. Shall we begin?
      </p>
    </div>
  </div>
  <div class="user-input">
    <input
      type="text"
      id="user-input"
      placeholder="What do you want to know?"
    />
    <button class="enviar" id="send-button">
      <i class="fa-solid fa-paper-plane"></i>
    </button>
  </div>
</div>

<script src="{{ url_for('static', filename='js/gemini.js') }}"></script>

{% endblock %}
