{% extends "modelo.html" %} {% block conteudo %}
<link
  rel="stylesheet"
  href="{{
url_for('static', filename='glossario/glossarioStyles.css') }}"
/>

<title>PythonSOS | Glossário</title>

<h1>Glossário</h1>
<div class="container">
  <div class="adicionar">
    <a href="/glossario/adicionar">Adicionar Termo</a>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Termo</th>
          <th>Definição</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for termo in glossario %}
        <tr>
          <th>{{ loop.index }}</th>
          <td class="termo">{{ termo[0] }}</td>
          <td class="definicao">{{ termo[1] }}</td>
          <td class="apagar-editar">
            <a
              class="red"
              id="termo-id {{ loop.index }}"
              href="/glossario/apagar/{{ loop.index }}"
              >Apagar</a
            >
            <a
              class="blue"
              id="{{ loop.index }}"
              href="/glossario/editar/{{ loop.index }}"
              >Editar</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="{{ url_for('static', filename='js/glossario.js') }}"></script>
{% endblock %}
