{% extends "modelo.html" %} {% block conteudo %}
<link
  rel="stylesheet"
  href="{{
url_for('static', filename='sobre/sobreStyles.css') }}"
/>

<title>PythonSOS | Team</title>

<h1>Team</h1>

<div class="grid">
  <div class="pessoa">
    <div class="pessoa-padding">
      <h2>Raul Cabral</h2>
      <div class="pessoa-img">
        <img src="../static/images/raul.jpg" alt="Person Image" />
      </div>
    </div>
    <div class="links">
      <a class="linkedin" href="https://www.linkedin.com/in/raul-cabral-caxeta/"
        ><i class="fa-brands fa-linkedin"></i> Linkedin</a
      >
      <a class="github" href="https://github.com/raulcabralc"
        ><i class="fa-brands fa-github"></i> Github</a
      >
      <a class="whatsapp" href="https://wa.me/558393989159"
        ><i class="fa-brands fa-whatsapp"></i> Whatsapp</a
      >
      <a class="portfolio" href="https://raulcabral.netlify.app/"
        ><i class="fa-solid fa-earth-americas"></i> Portfolio</a
      >
    </div>
  </div>

  <div class="pessoa">
    <div class="pessoa-padding">
      <h2>João Lucas</h2>
      <div class="pessoa-img">
        <img src="../static/images/bullet.jpg" alt="Person Image" />
      </div>
    </div>
    <div class="links">
      <a class="linkedin" href="https://www.linkedin.com/in/joaomonteirodev/"
        ><i class="fa-brands fa-linkedin"></i> Linkedin</a
      >
      <a class="github" href="https://github.com/jotamonteiro"
        ><i class="fa-brands fa-github"></i> Github</a
      >
      <a class="whatsapp" href="https://wa.me/558398880385"
        ><i class="fa-brands fa-whatsapp"></i> Whatsapp</a
      >
      <a class="portfolio" href="https://joaomonteiro.netlify.app"
        ><i class="fa-solid fa-earth-americas"></i> Portfolio</a
      >
    </div>
  </div>

  <div class="pessoa">
    <div class="pessoa-padding">
      <h2>Lucas Andrade</h2>
      <div class="pessoa-img">
        <img src="../static/images/lucas.jpg" alt="Person Image" />
      </div>
    </div>
    <div class="links">
      <a
        class="linkedin"
        href="https://www.linkedin.com/in/lucas-andrade-nascimentoo/"
        ><i class="fa-brands fa-linkedin"></i> Linkedin</a
      >
      <a class="github" href="https://github.com/lucansdev"
        ><i class="fa-brands fa-github"></i> Github</a
      >
      <a class="whatsapp" href="https://wa.me/556181637389"
        ><i class="fa-brands fa-whatsapp"></i> Whatsapp</a
      >
    </div>
  </div>
</div>

{% endblock %}
