{% extends "modelo.html" %} {% block conteudo %}
<link
  rel="stylesheet"
  href="{{
url_for('static', filename='sobre/sobreStyles.css') }}"
/>

<title>PythonSOS | Equipe</title>

<h1>Equipe</h1>

<div class="grid">
  <div class="pessoa">
    <div class="pessoa-padding">
      <h2>Raul Cabral</h2>
      <div class="pessoa-img">
        <img src="../static/images/raul.jpg" alt="Imagem Pessoa" />
      </div>
    </div>
    <div class="links">
      <a class="linkedin" href="https://www.linkedin.com/in/raul-cabral-caxeta/"
        ><i class="fa-brands fa-linkedin"></i> Linkedin</a
      >
      <a class="github" href="https://github.com/raulcabralc"
        ><i class="fa-brands fa-github"></i> Github</a
      >
      <a class="whatsapp" href="https://wa.me/558393989159"
        ><i class="fa-brands fa-whatsapp"></i> Whatsapp</a
      >
      <a class="portfolio" href="https://raulcabral.netlify.app/"
        ><i class="fa-solid fa-earth-americas"></i> Portfólio</a
      >
    </div>
  </div>

  <div class="pessoa">
    <div class="pessoa-padding">
      <h2>João Lucas</h2>
      <div class="pessoa-img">
        <img src="../static/images/bullet.jpg" alt="Imagem Pessoa" />
      </div>
    </div>
    <div class="links">
      <a class="linkedin" href="https://www.linkedin.com/in/joaomonteirodev/"
        ><i class="fa-brands fa-linkedin"></i> Linkedin</a
      >
      <a class="github" href="https://github.com/jotamonteiro"
        ><i class="fa-brands fa-github"></i> Github</a
      >
      <a class="whatsapp" href="https://wa.me/558398880385"
        ><i class="fa-brands fa-whatsapp"></i> Whatsapp</a
      >
      <a class="portfolio" href="https://joaomonteiro.netlify.app"
        ><i class="fa-solid fa-earth-americas"></i> Portfólio</a
      >
    </div>
  </div>

  <div class="pessoa">
    <div class="pessoa-padding">
      <h2>Diego Henrique</h2>
      <div class="pessoa-img">
        <img src="../static/images/diego.jpeg" alt="Imagem Pessoa" />
      </div>
    </div>
    <div class="links">
      <a class="linkedin" href="http://linkedin.com/in/diego-hardman-04992221a"
        ><i class="fa-brands fa-linkedin"></i> Linkedin</a
      >
      <a class="whatsapp" href="https://wa.me/558396741925"
        ><i class="fa-brands fa-whatsapp"></i> Whatsapp</a
      >
    </div>
  </div>

  <div class="pessoa">
    <div class="pessoa-padding">
      <h2>João Victor</h2>
      <div class="pessoa-img">
        <img src="../static/images/giga.jpeg" alt="Imagem Pessoa" />
      </div>
    </div>
    <div class="links">
      <a
        class="linkedin"
        href="https://www.linkedin.com/in/jo%C3%A3o-victor-ara%C3%BAjo-442a2b350/"
        ><i class="fa-brands fa-linkedin"></i> Linkedin</a
      >
      <a class="github" href="https://github.com/Joaovictorasm"
        ><i class="fa-brands fa-github"></i> Github</a
      >
      <a class="whatsapp" href="https://wa.me/558388941127"
        ><i class="fa-brands fa-whatsapp"></i> Whatsapp</a
      >
    </div>
  </div>
</div>

{% endblock %}
